.section {
    margin: 10px 0;
    background-color: white;
}

.section__header {
    border-bottom: 1px solid rgba(188, 184, 184, 0.812);
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 15px;
    justify-content: space-between;
    align-items: center;
}

.section__content {
    margin: 0;
    padding: 20px;
    border-bottom: 1px solid rgba(188, 184, 184, 0.812);
}