@media (max-width: 768px) {
    .section__header {
        grid-template-columns: 1fr;
    }
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;

}

.buttons__button {
    color: rgb(5, 131, 131);
    background: transparent;
    margin: 0 0 0 20px;
    border: none;
    transition: color 1s;
}

.buttons__button:hover {
    color: rgb(6, 93, 93);
    background-color: transparent;
    border: none;
}

.buttons__button:disabled {
    color: rgb(155, 152, 152);
}


